body {
	/* Viewport-sized text: "1vw" is ~1% of viewport width */
	font-family: 'Lato', sans-serif; 
}

.top-red-line {
	height: 5px;
	background-color: rgb(203,53,36);
}

.navbar {
	font-size: 1.1em;
	margin-bottom: 0;
}

.active {
	background-color: rgb(203,53,36);
}

.navbar-default {
	border-style: none;
	background-color: white;
}

.navbar-nav li {
	padding: 10px 15px;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	background-color: rgb(203,53,36);
	color: white;
}

.navbar-brand {
	padding: 0;	
}

img {
	margin: 0 auto;
}

.headlineImg {
	position: relative;
}

.headlineTxt {
	position: absolute;
	color: white;
	font-weight: 700;
	font-size: 3.9vw;
	letter-spacing: 2.3px;
    text-shadow: 1px 1px black;
}

.headlineTxtHome {
	top: 37%;
	left: 12.5%;
}

.headlineTxt2 {
	/* Sub-head */
	font-size: 2.4vw;
	left: 10%;
}

.headlineTxtBiz {
	top: 37%;
	left: 10%;
}

.headlineTxtStudents {
	top: 32%;
	left: 31%;
}

.headlineTxtAbout {
	top: 44%;
	left: 29%;
}

.headlineBtn {
	width: 15%;
	height: 7%;
	line-height: 7%;
    text-decoration: none;
    font-size: 1.7vw;
    border: none;
    padding: 2% 1.4%;
    margin: 2% auto;
    cursor: pointer;
}

.btnWht {
	/* red text on white */
	color: rgb(203,53,36);
    background-color: white;
}

.btnRed {
	/* white text on red */
	color: white;
	background-color: rgb(203,53,36);
}

.headlineBtn1 {
	position: absolute;
	top: 60%;
	left: 31%;
}

.headlineBtn2 {
	position: absolute;
	top: 60%;
	left: 50%;
	padding: 1.4% 1.4% 2.6% 1.4%;
}

#btn2ndLine {
	font-size: 1.1vw;
	margin: 0;
	width: 100%;
	padding: 5% 0;
	text-align: center;
}

.red-bar {
	color: white;
	font-size: 1.6vw;
	background-color: rgb(203,53,36);
	text-align: center;
	padding: 1.5%;
	margin: 0 auto;
}

h1 {
	color: black;
	font-size: 2.4vw;
	/*font-weight: 900;*/
	line-height: 1.3;
	text-align: center;
}

h2 {
	/*color: black;*/
	text-align: center;
	font-size: 1.5vw;
}

p {
	/* content */
	text-align: center;
	font-size: 1.2vw;
	line-height: 1.7;
	width: 80%;
	/* border */
	/* padding */
	/* margin */
	margin: 2% auto;
}

.slantBoxLeft {
	/* Homepage "slantbox" with <h3>, paragraph text and image */
	background-color: rgb(203,53,36);
	color: rgb(173,158,171);
}

.slantBoxRight {
	background-color: black;
	color: rgb(173,158,171);
}

div h3 {
	color: white;
	text-align: center;
	font-size: 2.2vw;
}

.momentumTxt {
	position: absolute;
	font-weight: 700;
	font-size: 1.3vw;
}

.momentumHeadline {
	font-size: 2vw;
	/*letter-spacing: 2.3px;*/
	text-transform: uppercase;
	top: 7%;
	left: 40%;
}

.momentumTopLeftRed {
	color: rgb(203,53,36);
	font-size: 3vw;
	top: 14%;
	left: 10%;
}

.momentumTopLeftBlack {
	top: 16%;
	left: 18%;
}

.momentumTopRightRed {
	color: rgb(203,53,36);
	font-size: 3vw;
	top: 14%;
	left: 60%;
}

.momentumTopRightBlack {
	top: 16%;
	left: 69%;
}

.momentumCtrRed {
	color: rgb(203,53,36);
	font-size: 3vw;
	top: 38%;
	left: 36%;
}

.momentumCtrBlack {
	top: 40.5%;
	left: 43%;
}

/* Styling for homepage momentum bullet list */
div ul {
	padding: 0 5%;
	margin: 0;
}

.momentumBlurbHead {
	text-transform: uppercase;
	/*margin: -1% 0;*/
	/*padding: 0;*/
}

.momentumBottomLeftRed {
	color: rgb(203,53,36);
	font-size: 3vw;
	top: 68%;
	left: 10%;
}

.momentumBottomLeftBlack {
	top: 70%;
	left: 18%;
}

.momentumBottomRightRed {
	color: rgb(203,53,36);
	font-size: 3vw;
	top: 68%;
	left: 60%;
}

.momentumBottomRightBlack {
	top: 70%;
	left: 69%;
}

