  body {
		font-family: 'Source Sans Pro', sans-serif;
	}
	h1 {
		margin: 22rem 26rem 3rem 26rem;
		text-align: center;
		line-height: 35px;
		font-size: x-large;
	}
	.btn-info {
		padding: 0.75% 1.75%;
		margin: 0 47%;
		font-size: x-large;
		font-weight: bold;
	}
	.card span {
    font-family: Helvetica,Arial;
    font-size: large;
    line-height: 19px;
	}