.divBackground {
    /*background: url("https://openclipart.org/image/2400px/svg_to_png/184037/1380559307.png");*/
    background: url("../img/img_8257_momentum3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}